*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html, body, .container{
	width:100%;
	height:100%;
}

.container{
	display:flex;
	flex-direction:row;
}

header{
	width:15%;
	height:100%;
	background-color:blue;
}

header ul {
	width:100%;
	height:100%;
	list-style-type:none;
}
header ul li{
	width:100%;
	padding:10px 0;
	border-bottom:1px solid black;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:top;
}

header ul li a{
	text-decoration:none;
	color:white;
	font-family:Arial;	
}

header ul li:hover{
	background-color:maroon;
}

/*header ul li a:active{
	background-color:maroon;
}*/

section{
	width:85%;
	height:100%;
}

h1{
	color:blue;
	display:flex;
	flex-direction:row;
	justify-content:center;
	font-family:Arial;	
}

.Rectangles{
	display:flex;
	flex-direction:row;
	margin:5px 0;
}

.Box1, .Box2, .Box3, .Box4{
	margin:0 5px;
	width:300px;
	height:300px;
	border:1px solid gray;
	border-radius:10px;
	box-shadow:2px 2px lightgray;
}

.B1-top, .B2-top, .B3-top, .B4-top{
	width:100%;
	height:7%;
	background-color:blue;
	color:white;
	display:flex;
	flex-direction:row;
	justify-content:center;
	border-radius:10px 10px 0 0;
	font-family:Arial;
}

.B1-bottom, .B2-bottom, .B3-bottom, .B4-bottom{
	width:100%;
	height:93%;
	margin:5px 3px;
	font-family:Arial;	
}

.B1-bottom ol {
	padding:0 35px;
	margin:15px 0;
}

@media only screen and (max-width: 480px) {
  .Rectangles {
	  flex-direction:column;
  }
  .Box1, .Box2, .Box3, .Box4  {
	  width:100%;
	  margin:10px 0 0 0;
  }
}